@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
    color: #333;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
        text-align: center;

}

img {
    max-width: 100%;
    height: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer; 

}

.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;  

}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav a {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

nav a:hover, nav .active {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
    color: #ffe4e1;
}

#intro {
    text-align: center;
    padding: 80px 20px;
    color: white;
    background: linear-gradient(to right, #34495e, #2c3e50);
}

#intro h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ddd;
}

#intro img {
    border-radius: 50%;
    width: 200px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

#intro img:hover {
    transform: scale(1.1);
}

section {
    padding: 50px 20px;
    text-align: center;
    background: white;
    margin: 6px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

section p, ul {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}

form input, form textarea, form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s;
}

form input:focus, form textarea:focus {
    border-color: #3498db;
    outline: none;
}

form button {
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #2980b9;
}

footer {
    text-align: center;
    padding: 20px;
    background: #34495e;
    color: white;
}

@media (max-width: 768px) {
    .menu-icon {
        display: flex;
        left: 20px;       
         transition: 0.3s;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 30%;
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
         position: absolute;
        top: 60px;
        left: 0;
        padding: 20px;
        z-index: 1000;
       border-radius: 10px;
    }

    .nav-links.active {
        display: flex;
        transition: 0.3s;
        background-color: #000000;     

    }
    nav a {
        padding: 15px;
        font-size: 14px;
        text-align: center;
        width: 100%;

    }
}
a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
    height: 40px;
	color: #000;
	background-color: #FFF;
	border: 1px solid #000;
	padding-top: 12px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #ffffff;
	background-color: #000;
	border: 1px solid #000;
}
















.nav-links{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
 
 .menu-icon{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
 .nav-links.active{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
h1{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
 p{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
 h2{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
 li{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
 input{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
 textarea{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
 button{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
 img{-webkit-animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd .8s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
